[sendxmpp]

# The JID of the sending user
# Default: ""
jid=bla@jabberdomain.example.com

# The Password of the sending user
# Default: ""
# password=

# The Resource to send messages from
# Default: Sendxmpp
# resource=YODA

# Use TLS
# Default: true
# tls=true

# Port of the Jabber Server
# Default: 5222
# port=5222

# Default receipients. This is used if you do not want to specify them via commandline
# Default: nil
# Comma seperated list of receipients
# receipients=muc:muc@jabber.org:password,\
# user:bla@jabberdomain.example.com,\
# muc:muc2@conference.example.com

# Server to send messages over. If no server is provided DNS SRV record from jid will be used
# Default: ""
# server=jabber.org

# Verify TLS identity.
# Default: true
# tls_verify_peer=true

# Logfile to log in to
# Default: STDOUT
# logfile = "/var/log/sendxmpp.log"

# Loglevel
# VALUES:
#   err   - 3
#   warn  - 2
#   info  - 1
#   debug - 0
# Default: 2
loglevel = 2
